/* styles.css */
/* ... (existing styles) */

.content {
    padding: 20px;
    background-image: url('https://i.pinimg.com/474x/ff/35/df/ff35df56a7557101ad4a64598f63ca37.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    color: rgb(62, 55, 55);
  }
  
  .message-box {
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 20px;
  }
  
  .image-box {
    width: 150px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .image-box img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* styles.css */
/* ... (existing styles) */

.back-button {
    display: block;
    width: fit-content;
    margin: 90px auto;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #ea4296;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
  bottom: 20px; /* Adjust the bottom spacing as needed */
  left: 50%;
  transform: translateX(-50%);
  }
  
  .back-button:hover {
    background-color: #4d1732;
  } 